:root {
  --toolbar-width: 65px;
  --editor-bg: #fffff2;
  --toolbar-bg-color: #d9d9d9;
  --toolbar-button-color: #9e9e9e;
  --toolbar-button-active-color: #50845a;
}

body {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  max-width: 100%;
}

/* Toolbar */
.toolbar {
  min-height: 100vh;
  width: var(--toolbar-width);
  background-color: var(--toolbar-bg-color);

  &,
  &__group {
    display: flex;
    flex-direction: column;
  }

  &,
  &__button {
    align-items: center;
    justify-content: center;
  }
}

.toolbar__group {
  & + .toolbar__group {
    margin-top: 40px;
  }
}

.toolbar__button {
  width: 35px;
  height: 35px;
  border: none;
  background: none;
  display: inline-flex;
  background-color: var(--toolbar-button-color);

  &:hover {
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &--rotate-45 {
    & > svg {
      transform: rotate(45deg);
    }
  }

  &--active {
    outline: 3px solid var(--toolbar-button-active-color);
  }
}

/* Editor */
.editor {
  flex: 1;
  overflow: scroll;
  background-color: var(--editor-bg);
  width: calc(100% - var(--toolbar-width));
}

.editor__actions {
  padding: 10px;
  background-color: var(--toolbar-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
